/*! bulma.io v0.6.2 | MIT License | github.com/jgthms/bulma */

// Import the initial variables
@import 'node_modules/bulma/sass/utilities/initial-variables';

// Override variables
$primary: $green;
$family-primary: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;

// Import the rest of Bulma
@import 'node_modules/bulma/sass/utilities/_all';

@mixin block {
  &:not(:last-child) {
    margin-bottom: 0;
  }
}

@import 'node_modules/bulma/sass/base/_all';
@import 'node_modules/bulma/sass/elements/_all';
@import 'node_modules/bulma/sass/components/_all';
@import 'node_modules/bulma/sass/grid/_all';
@import 'node_modules/bulma/sass/layout/_all';
