.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-flow: row dense;
  grid-gap: 0.8rem;
  margin: 1rem;
}

.box-date {
  position: relative;
  padding: 1rem;

  &:hover .add-action-btn {
    display: block;
  }
}

.box-date::after {
  display: block;
  content: '';
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: $box-radius;
  box-shadow: 0 5px 10px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.box-date:hover::after {
  opacity: 1;
}

.add-action-btn {
  display: none;
  position: absolute;
  top: 0.9rem;
  right: 0.7rem;
  font-weight: 700;
  height: 25px;
}
