$categories: mondo general eating_out expenses transport cash bills entertainment shopping holidays groceries;
$cat-colors: #4CAF50 #607D8B #E91E63 #795548 #3F51B5 #009688 #03A9F4 #FF5722 #9C27B0 #673AB7 #FFAB00;

@each $cat in $categories {
  $cat-color: nth($cat-colors, index($categories, $cat));

  .tag.#{$cat} {
    background-color: mix(white, $cat-color, 95%);
    border: 1px solid mix(white, $cat-color, 50%);
    color: $cat-color;
    margin: 0.15rem 0 0 0;
  }
}
